body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #79B9C6;
  font-family: Arial, Helvetica, sans-serif;
}

.smallerHeaders{
  padding-top: 14%;
  font-size: medium;
  text-align: center;
  font-weight: 300;
}

#smallerHeader2{
  color: white;
  font-size: 12px;
  padding-top: .01%;
  font-weight: 450;
  margin: 0 auto;
  padding-top: 4px;
  height: 23px;
  width: 127px;
  border: 2px solid white;
}

#mainLogo{
  color:white;
  padding-top: .7%;
  padding-bottom: 1%;
  font-size: 500%;
  font-weight: bolder;
}

#logo {
  color: white;
  font-weight: bold;
  padding-left: .10%;
}
